a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: rgb(1, 1, 82);
}

.foto{
    border-radius: 100px;
}

h1{
    color: rgb(1, 1, 82);
    text-align: center;
    margin-top: 25px;
    font-size: 55px;
}

h3{
    color: rgb(1, 1, 82);
    text-align: center;
    margin-top: 25px;
    font-size: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.img_imc{
    display: block;
    width: 310px;
}

.btn{
    display: block;
    width: 50px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer{
    text-align: center;
    color: rgb(1, 1, 82);
    padding-top: 150px;
}

.img_datos{
    display: block;
    margin: auto;
}

.redes{
    background-color: rgb(1, 1, 82);
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(96, 95, 102);
}

.certificado{
    display: block;
    width: 90%;
    margin: auto;
}

.proyectos{
    max-width: 992px;
}


/* Resolucion telefonos moviles muy pequeños */
@media(max-width: 575px){
    
}

/* Resolucion telefonos moviles pequeños */
@media(min-width: 576px) and (max-width: 767px){
    
}

/* Resolucion para tables */
@media(min-width: 768px) and (max-width: 991px){
    
}

/* Resolucion para pc de escritorio */
@media(min-width: 992px){
    
}

/* Resolucion para mi tv */
@media(min-width: 992px){
    
}