*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(1, 1, 82);
    text-align: left;
    color: whitesmoke;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
}

h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.foto{
    display: block;
    width: 300px;
    border-radius: 5px;
}

.separador{
    background-color: rgb(10, 10, 43);
    padding: 5px 5px;
}

.row{
    padding-left: 15px;
}

h3{
    color: rgb(1, 1, 82);
}

footer{
    text-align: center;
    color: rgb(1, 1, 82);
    padding-top: 150px;
}

.img_datos{
    display: block;
    margin: auto;
}

.redes{
    background-color: rgb(1, 1, 82);
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(96, 95, 102);
}

/* Resolucion telefonos moviles muy pequeños */
@media(max-width: 575px){
    .foto{
        display: block;
        width: 250px;
        border-radius: 5px;
    }

    .dato_fin{
        font-size: 20px;
    }

    .img_datos{
        display: block;
        margin: auto;
        width: 25px;
    }
}

/* Resolucion telefonos moviles pequeños */
@media(min-width: 576px) and (max-width: 767px){
    .foto{
        display: block;
        width: 250px;
        border-radius: 5px;
    }

    .dato_fin{
        font-size: 20px;
    }

    .img_datos{
        display: block;
        margin: auto;
        width: 25px;
    }

    footer{
        text-align: center;
        color: rgb(1, 1, 82);
        padding-top: 150px;
    }
}

/* Resolucion para tables */
@media(min-width: 768px) and (max-width: 991px){
    .foto{
        display: block;
        width: 200px;
        border-radius: 5px;
    }

    footer{
        text-align: center;
        color: rgb(1, 1, 82);
        padding-top: 90px;
    }
}

/* Resolucion para pc de escritorio */
@media(min-width: 992px){
    footer{
        text-align: center;
        color: rgb(1, 1, 82);
        padding-top: 200px;
    }
}

/* Resolucion para mi tv */
@media(min-width: 992px){
    footer{
        text-align: center;
        color: rgb(1, 1, 82);
        padding-top: 170px;
    }
}